/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* generals */
body{
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}
.flex{
  display: flex;
}
.center{
  align-items: center;
}
.turned_on{
  font-size: 15px;
  color:#fff;
  font-weight:900;
}
.turned_off{
  color:rgb(99, 102, 106);
  font-size: 13px;
  font-weight: 700;
}
.link{
  text-decoration: none;
}
.text_center{
  text-align: center;
}
.radius{
  border-radius: 50%;
}
/* /generals */


/* main_section */
.main_section{
  height: calc(100% - 80px);
}
/* /main_section */


/* aside_section */
.aside_section{
  width: 200px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* /aside_section */




/* logo_icons_section */
.logo{
  width: 75%;
  padding: 20px 10px;
}
.logo_small{
  display: none;
}
.icons_section{
  padding: 10px 0;
}
.ico{
  width: 25%;
  filter: invert(0.5);
}
.icons_list p{
  padding-top: 10px;
}
/* /logo_icons_section */



/* cta_playlist_section */
.cta_playlist_section{
  overflow: hidden;
}
.cta_section{
  height: 110px;
}
.cta_section h3{
  padding: 15px;
  font-weight: 700;
}
.cta_playlist{
  padding-left: 15px;
}
.square{
  width: 50px;
  height: 50px;
  background-color: rgb(148, 148, 148);
  position: relative;
}
.plus{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 25px;
}
.cta_playlist .turned_off{
  font-size: 15px;
  padding-left: 15px;
}
.playlist_container{
  height: calc(100% - 110px);
  overflow-y: auto;
}
.playlist_container li{
  list-style: none;
}
.name_list .link{
  padding: 10px 15px;
}
/* /cta_playlist_section */



/* current_singer_section */
.current_singer_section{
  margin-top: auto;
}
.upper_sec{
  padding: 10px 0 10px 15px;
}
.separator{
  width: 170px;
  margin: auto;
  height: 2px;
  background-color: rgb(99, 102, 106);
}
.upper_sec img{
  width: 10%;
  margin: 0 3px;
  filter: invert(0.5);
}
.upper_sec p{
  padding-left: 10px;
  font-weight: 600;
}
.lower_sec{
  padding: 10px 0 5px 15px;
}
.lower_sec img{
  width: 15%;
  background-color: grey;
  border-radius: 55%;
}
.lower_sec .turned_on{
  padding-left: 10px;
  font-weight: 700;
}
/* /current_singer_section */



/* upgrade_section */
.upgrade_section{
  background-color: rgba(8, 11, 18, 0.8);
  position: fixed;
  z-index: 5;
  top:0;
  right: 0;
  width: calc(100% - 200px);
  height: 70px;
  justify-content: flex-end;
}
.upgrade_section button{
  border: none;
  background-color: transparent;
  margin-right: 15px;
  transition: all 1s;
}
.upgrade_section .turned_on{
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}
/* /upgrade_section */


/* core_section */
.core_section{
  width: calc(100% - 200px);
  height: 100%;
  background-color:rgb(20, 25, 34);
  overflow: auto;
  padding-top: 85px;
}
.navigation_section li{
  list-style: none;
}
.navigation_section .flex{
  justify-content: center;
  flex-wrap: wrap;
}
.navigation_section .flex li{
  margin: 10px;
}
.navigation_section .flex a{
  font-size: 10px;
}
.border_bottom{
  display: none;
  width: 30px;
  margin: auto;
  height: 1px;
  background-color: rgb(173, 250, 68);
}
.recently_played_section{
  padding-top: 10px;
}
.recently_played_section,.customized_section,.most_popular_section{
  margin: 0 10px;
}
.album{
  margin: 10px;
  flex-basis: calc(100% / 6 - 20px);
}
.albums_container{
  margin: 0 -10px;
  flex-wrap: wrap;
}
.core_section h2{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
.core_section .turned_off{
  font-size: 10px;
  font-weight: 600;
  padding: 10px 0;
}
.customized_section .turned_off,.most_popular_section .turned_off{
  padding: 5px 0;
}
.album img{
  width: 100%;
  display: block;     /*& serve a togliere quei 4px dell'immagine sull'overlay &*/
}
.subtitles{
  padding: 10px 0;
}
.subtitles .turned_on{
  font-size: 15px;
  font-weight: 600;
}
/* overlay */
.img_container{
  position: relative;
}
.overlay{             /*& serve a togliere quei 4px dell'immagine sull'overlay &*/
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.img_container:hover .overlay{
  display: block;
}
.play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  color: #fff;
}
.most_popular_section .overlay{
  border-radius: 50%;
}
.album h3{
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow: hidden;
}
/* /overlay */
/* /core_section */



/* footer_section */
.footer_section{
  width: 100%;
  height: 80px;
  background-color: rgb(40, 40, 40);
  z-index: 10;
}
.footer_section i{
  color: #fff;
}
.left_footer_section,.right_footer_section{
  flex-basis: 200px;
}
/* left_footer */
.player_left_img_container{
  flex-basis: 15%;
  margin: 0 10px;
}
.player_left_img_container img{
  width: 100%;
}
.player_left_texts_container .turned_on{
  font-size: 10px;
}
.player_left_texts_container .turned_off{
  font-size: 8px;
}
.player_left_icons_container{
  margin-left: 20px;
}
.player_left_icons_container a{
  margin: 0 5px;
}
.player_left_icons_container i{
  color:rgb(99, 102, 106);
}
/* /left_footer */
/* center_footer */
.center_footer_section{
  flex-direction: column;
  margin: auto;
}
.upper_media_player{
  margin: 5px auto;
}
.media_player_list li,
.right_footer_section li{
  list-style: none;
}
.media_player_list li{
  margin: 0 15px;
}
.media_player_list i{
  font-size: 20px;
}
.media_player_list .play_button{
  font-size: 30px;
}
.media_player_list button{
  background-color: transparent;
  border: none;
}
.media_player_list button:focus {   /*per togliere il focus on click*/
  outline: none;
  box-shadow: none;
}
.lower_media_player{
  margin: 10px 0;
  position: relative;
}
time{
  font-size: 10px;
}
.progression_bar,.volume_bar{
  width: 300px;
  height: 2px;
  background-color: rgb(99, 102, 106);
  margin: 0 30px;
  border-radius: 5px;
  overflow: hidden;
}
.full_bar{
  width: 30%;
  height: 100%;
  background-color: rgb(201, 201, 201);
}
.dot{
  width: 10px;
  height: 10px;
  background-color: rgb(201, 201, 201);
  border-radius: 50%;
  position: absolute;
  top:15%;
  left:33%;
  display: none;
}
.dot_2{
  width: 8px;
  height: 8px;
  top:45%;
  left:48%;
}
/* /center_footer */
/* right_footer */
.right_footer_section{
  position: relative;
}
.right_list i{
  margin: 0 5px;
  font-size: 10px;
}
.volume_bar{
  width: 100px;
  margin: 0 10px;
}
/* /right_footer */
/* /footer_section */

/* hover */
.turned_off:hover{
  color: #fff;
}
.turned_off:hover .ico{
  filter: invert(1);
}
.cta_playlist:hover .square{
  background-color: #fff;
}
.cta_playlist:hover p{
  color: #fff;
}
.upper_sec:hover img{
  filter: invert(0);
}
.button:hover,
.play_button:hover{
  transform: scale(1.1);
}
.heart:hover,
.folder:hover{
  color: #fff;
}
.full_bar:hover{
  background-color: rgb(173, 250, 68);
}
.lower_media_player:hover .dot,
.volume_bar:hover .dot{
  display: block;
}
.icons_section .icons_list .turned_off:hover{
  border-left: 3px solid rgb(173, 250, 68);
}
.core_section li:hover .border_bottom{
  display: block;
}
/* responsiveness */
@media Screen and (max-width:1100px) {

  /* core_section */
  .navigation_section li{
    flex-basis: calc(20% - 20px);
    text-align: center;
  }
  .albums_container .album{
    flex-basis: calc(100% / 4 - 20px);
  }
  /* /core_section */

}

@media Screen and (max-width:768px) {

  /* core_section */
  .navigation_section li{
    flex-basis: calc(33.3% - 20px);
  }
  .albums_container .album{
    flex-basis: calc(100% / 2 - 20px);
  }
  /* /core_section */
  /* footer_section */
  .player_left_icons_container{
    margin-left: 5px;
  }
  .player_left_icons_container i{
    font-size: 10px;
  }
  .player_left_icons_container a{
    margin:0 2px;
  }
  .upper_media_player{
    margin: 0 auto;
  }
  .media_player_list li{
    margin: 0 5px;
  }
  .media_player_list i{
    font-size: 5px;
  }
  .media_player_list .play_button{
    font-size: 10px;
    margin-top: 8px;  /*da evitare?*/
  }
  .lower_media_player{
    margin: 2px 0;
  }
  .progression_bar{
    width: 100px;
    margin: 0 10px;
  }
  time{
    font-size: 5px;
  }
  .right_list i{
    font-size: 5px;
  }
  .left_footer_section,.right_footer_section{
    flex-basis: 150px;
  }
  .right_footer_section .volume_bar{
    width: 33px;
    margin-top: 8px;  /*da evitare?*/
  }
  /* /footer_section */

}

@media Screen and (max-width:576px) {

  /* aside_section */
  .aside_section{
    width: 50px;
  }
  .logo_small{
    display: block;
    width: 65%;
    margin: 10px;
  }
  .icons_section{
    padding-top: 0;
  }
  .icons_list img{
    width: 100%;
  }
  .upper_sec img{
    width: 60%;
    margin-left: -4px;
  }
  .lower_sec{
    padding-left: 9px;
  }
  .lower_sec img{
    width: 70%;
  }
  .logo_section .logo,
  .icons_list p,
  .cta_playlist_section,
  .upper_sec p,
  .separator,
  .lower_sec p{
    display: none;
  }
  /* /aside_section */

  /* upgrade_section */
  .upgrade_section{
    width: calc(100% - 45px);
  }
  /* /upgrade_section */

  /* core_section */
  .core_section{
    width: 100%;
  }
  .navigation_section li{
    flex-basis: calc(25% - 20px);
  }
  /* /core_section */
  /* footer_section */
  .footer_section{
    flex-wrap: wrap;
  }
  .center_footer_section{
    order: -1;
    width: 100%;
    margin: 0;
  }
  .right_footer_section,.left_footer_section{
    width: 50%;
    order: 2;
    margin: auto;
  }
  .lower_media_player{
    margin: auto;
  }
  .left_footer_section,.right_footer_section{
    align-content: space-between;
  }
  /* /footer_section */

}
/* /responsiveness */
