/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* generals */
body{
  height: 100vh;
  font-family: 'Gothic A1', sans-serif;
  color:#fff;
}
.flex{
  display: flex;
}
.center{
  align-items: center;
}
.turned_on{
  font-size: 15px;
  color:#fff;
  font-weight:900;
}
.turned_off{
  color:rgb(99, 102, 106);
  font-size: 13px;
  font-weight: 700;
}
.link{
  text-decoration: none;
}
/* /generals */


/* main_section */
.main_section{
  height: calc(100% - 80px);
}
/* /main_section */


/* aside_section */
.aside_section{
  width: 200px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* /aside_section */




/* logo_icons_section */
.spoty_logo{
  font-size: 40px;
  padding: 15px;
}
h1{
  font-size: 30px;
  font-weight: 800;
}
.copy{
  font-size: 8px;
  padding:0 0 20px 5px;;
}
.icons_section{
  padding: 10px 0;
}
.ico{
  width: 25%;
  filter: invert(0.5);
}
/* /logo_icons_section */



/* cta_playlist_section */
.cta_playlist_section{
  overflow: hidden;
}
.cta_section{
  height: 110px;
}
.cta_section h3{
  padding: 15px;
}
.cta_playlist{
  padding-left: 15px;
}
.square{
  width: 50px;
  height: 50px;
  background-color: rgb(148, 148, 148);
  position: relative;
}
.plus{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #000;
  font-size: 25px;
}
.cta_playlist .turned_off{
  font-size: 15px;
  padding-left: 15px;
}
.playlist_container{
  height: calc(100% - 110px);
  overflow: auto;
}
.playlist_container li{
  list-style: none;
}
.name_list .link{
  padding: 10px 15px;
}
/* /cta_playlist_section */



/* current_singer_section */
.current_singer_section{
  /* background-color: green; */
  margin-top: auto;
}
.upper_sec{
  padding: 0 0 10px 15px;
}
.upper_sec i{
  padding-right: 10px;
}
.separator{
  width: 170px;
  margin: auto;
  height: 2px;
  background-color: rgb(99, 102, 106);
}
.lower_sec{
  padding: 10px 0 5px 15px;
}
.lower_sec i{
  font-size: 30px;
  padding-right: 10px;
}
/* /current_singer_section */



/* upgrade_section */
.upgrade_section{
  background-color: rgba(8, 11, 18, 0.8);
  position: fixed;
  top:0;
  right: 0;
  width: calc(100% - 200px);
  height: 70px;
}
/* /upgrade_section */


/* core_section */
.core_section{
  width: calc(100% - 200px);
  height: 100%;
  background-color:rgb(20, 25, 34);
  overflow: auto;
  padding-top: 70px;
}
/* /core_section */



/* footer_section */
.footer_section{
  width: 100%;
  height: 80px;
  background-color: rgb(40, 40, 40);
  z-index: 10;
}
/* /footer_section */


/* responsiveness */
@media Screen and (max-width:1100px) {

}

@media Screen and (max-width:768px) {

}

@media Screen and (max-width:576px) {

  /* aside_section */
  .aside_section{
    width: 50px;
  }
  .spoty_logo{
    font-size: 25px;
    width: 100%;
    padding-left: 10px;
  }
  .icons_section{
    padding-top: 0;
  }
  .icons_list img{
    width: 100%;
  }
  .lower_sec{
    padding-left: 7.5px;
  }
  .lower_sec i{
    width: 100%;
  }
  h1,
  .copy,
  .icons_list p,
  .cta_playlist_section,
  .upper_sec p,
  .separator,
  .lower_sec p{
    display: none;
  }
  /* /aside_section */

  .core_section{
    width: 100%;
  }

  .upgrade_section{
    width: calc(100% - 45px);
  }

}
/* /responsiveness */
